body {
  font-family: 'Lato';
  background-color: hsla(210, 17%, 98%, 1) !important;
}

.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

a {
  color: hsl(168, 77%, 42%);
}

a:active, a:focus, a:hover{
  outline: none;
}

a:focus, a:hover, a:active {
  color: hsl(168, 78%, 32%);
}

a.out:active, a.out:focus, a.out:hover{
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

/* HEADER NAVIGATOR */
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
/*  background-color: hsla(210, 29%, 24%, 1); */
}

.navbar-brand {
  color: hsl(0, 100%, 100%);
  height: 3rem;
  display: flex;
}

.logoimg{
  /*clearfix*/
  overflow: auto;
  height: 2rem;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.navbar-brand .logotxt{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

#mainNav .navbar-nav {
  margin-top: 0rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: hsl(0, 100%, 100%);
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: hsl(168, 77%, 42%);
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: hsl(0, 100%, 100%);
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: hsl(168, 77%, 42%);
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}


@media (min-width: 720px) {
  #mainNav {
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: hsl(0, 100%, 100%);;
    background: hsl(168, 77%, 42%);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: hsl(0, 100%, 100%);
    background: hsl(168, 77%, 42%);
  }
  #mainNav.navbar-shrink {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

.colorDefault{
  background-color: #001932;
}
